body{margin: 0px;padding: 0px;overflow-x: hidden;}
ul{list-style-type: none;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


.header{background-color: #fbf8ea;}
.headerContent{max-width: 1170px;margin-left: 50%;transform: translateX(-50%);width: 1170px;}
.navMenu{font-size: 16px;height: 100%; padding:0; text-align: center;width: 800px;text-transform: uppercase;margin: 0;float: right;}
.navMenu li{display: inline; margin: 0; margin-left: 25px;position: relative;right: 10px;top: 52px;}
.navMenu a{display: inline; text-decoration: none; cursor: pointer; font-family: 'Playfair Display', serif;font-weight: 600;color: #8e8a7d;}
.navMenu a:hover{color: black; cursor: pointer;}
.logo{display: inline-block;margin: 8px;}
.logo img{height: 100px;}
.background{background-image: url(../images/background.png);height: calc(100vw*0.25);background-position:0 center;background-size: cover;position: relative; }
.background h1{color: white;font-size: calc(100vw*0.025);text-align: center;margin:0;font-family: 'Playfair Display', serif; position: absolute;width: 100%;top: 50%;transform:translateY(-50%);}
.about{background-color: #fbf8ea;}
.aboutContent{max-width: 1170px;width: 1170px;margin-left: 50%;transform: translateX(-50%);}
.aboutContent h2{font-family: 'Playfair Display',serif;margin: 0;text-align: center;position: relative;font-size: 32px;padding-top: calc(100vw*0.025);}
.aboutContent .divider{background-color: #9a8543;   height: calc(100vw*0.0015);margin-top: 4px;position: relative;width: 200px;margin-left: 50%;transform: translateX(-50%);}
.aboutItems{display: flex;flex-direction:row; flex-wrap:nowrap; justify-content:space-between;width: 80%;margin-left: 50%;transform: translateX(-50%);padding-top: calc(100vw*0.025);}
.aboutItem{width: 25%;text-align: center;}
.aboutItem img{filter: invert(0.5) sepia(1) brightness(0.9);}
.aboutItem p{font-size: 14px;color: #8e8a7d;font-family: 'Roboto', serif;}
.aboutItem h3{font-family: 'Playfair Display', serif;}
.kamennyDvor{background-color: #f0ecd8;}
.kamennyDvorContent{max-width: 1170px; width: 1170px;margin-left: 50%;transform: translateX(-50%);display: inline-flex;}
.kamennyDvorContent .textArea{width: 50%;}
.kamennyDvorContent .textArea p{font-size: 14px;font-family: 'Roboto', serif;color: #6c654b;}
.kamennyDvorContent .textArea h2{margin: 0;padding-top: 120px;font-size: 30px;font-family: 'Playfair Display', serif;}
.kamennyDvorContent .textArea h4{margin: 0;padding-top: 6px;font-size: 20px;color: #8e8a7d;font-family: 'Playfair Display', serif;}
.kamennyDvorContent .textArea h5{font-size: 14px;font-family:  'Roboto', serif;margin-bottom: 10px;color: #6c654b;}
.kamennyDvorContent .textArea .divider{background-color: #9a8543;   height: calc(100vw*0.002);margin-top: 20px;position: relative;width: 240px;}
.kamennyDvorContent .image img{position: relative;top: 50%;transform: translateY(-50%);}
.atrakcie{background-color: #fbf8ea;}
.atrakcieContent{max-width: 1170px;width: 1170px;margin-left: 50%;transform: translateX(-50%);}
.atrakcieContent h2{font-family: 'Playfair Display', serif;margin: 0;font-size: 30px;padding-top: calc(100vw*0.025);text-align: center;}
.atrakcieContent .divider{background-color: #9a8543;   height: calc(100vw*0.002);margin-top: 4px;position: relative;width: 240px;margin-left: 50%;transform: translateX(-50%);}
.atrakcieItem{outline: none;}
.atrakcieItem img{margin-left: 50%;transform: translateX(-50%);}
.atrakcieItem h3{text-align: center;font-family: 'Playfair Display', serif;}
.atrakcieItem p{text-align: center;font-family:  'Roboto';color: #6c654b;font-size: 14px;}
.rezervacia{background-color: #fbf8ea;}
.rezervaciaContent{max-width: 1170px; width: 1170px;margin-left: 50%;transform: translateX(-50%);}
.rezervaciaContent h2{font-family: 'Playfair Display', serif;margin: 0;font-size: 30px;padding-top: calc(100vw*0.025);text-align: center;}
.rezervaciaContent .divider{background-color: #9a8543;   height: calc(100vw*0.002);margin-top: 4px;position: relative;width: 240px;margin-left: 50%;transform: translateX(-50%);}
.rezervaciaContent .dateprice{background-color: #f0ecd8;}
.rezervaciaContent .dateprice .date{}
.rezervaciaContent .dateprice .price{}
.rezervaciaContent .dateprice .date form{display: inline-flex;margin-top: 100px;margin-left: 50%;transform: translateX(-50%);}
.rezervaciaContent .dateprice .date p{width: 195px;background-color: white;position: relative;height: 60px;font-size: 16px;margin: 0;    font-family: roboto light;padding-left: 25px;padding-top: 20px;}
.rezervaciaContent .dateprice .date p img{filter: invert(0.5) sepia(1) brightness(0.9);position: absolute;right: 0;height: 35px;margin-top: 7px;right: 0;margin-right: 12px;}
.rezervaciaContent .dateprice .date p input{border:none;outline: none;width: 75%;height: 30px;position: absolute;top: 42px;left: 0;font-size: 18px;padding-left:25px;font-weight: bold;font-family: roboto;}
.rezervaciaContent input[type="submit"]{width: 250px;background-color: #9a8543;border: none;color: white;padding: 0;font-size: 18px;font-family: roboto;font-weight: bold;text-transform: uppercase;cursor: pointer;}
.rezervaciaContent .dateprice .date p a{width: 2px;background-color: #f0ecd8;height: 50px;right: 0;position: absolute;}

